
@{
    ViewData["Title"] = "Index";
}

<h1>Payment Selection</h1>
<div class="section-1">
    <div>
        <h2>Payment Page V2 Samples</h2>
        <p class="information">
            The following payment methods are implemented with the Wirecard Payment Page V2
            Each payment uses the same gateway and JSON as payload format.<br />
            <b>Important:</b>
            The username / password and merchant-id change depending on the payment method.
        </p>
        <ul>
            <li>
                <a class="checkout-button-steps-button step" asp-action="CreditCard">CreditCard →</a>
            </li>
            <li>
                <a class="checkout-button-steps-button step" asp-action="PayPal">PayPal →</a>
            </li>
            <li>
                <a class="checkout-button-steps-button step" asp-action="IDeal">IDeal →</a>
            </li>
            <li>
                <a class="checkout-button-steps-button step" asp-action="Klarna">Klarna →</a>
            </li>
            <li>
                <a class="checkout-button-steps-button step" asp-action="Eps">EPS →</a>

            </li>
        </ul>
    </div>
    <div>
        <h2>Elastic Payment Samples</h2>
        <p class="information">
            The following payment methods are implemented with the Wirecard Elastic Payment Gateway
            Each payment uses the same gateway and XML as payload format.<br />
            <b>Important:</b>
            The username / password and merchant-id change depending on the payment method.
        </p>
        <ul>
            <li>
                <a class="checkout-button-steps-button step" asp-action="KlarnaEpp">Klarna EPP →</a>
            </li>
            <li>
                <a class="checkout-button-steps-button step" asp-action="EpsEpp">EPS EPP →</a>

            </li>
        </ul>
    </div>
</div>
