
@{
    ViewData["Title"] = "Index";
}

<h1>Payment Selection</h1>
<div class="section-1">
    <div class="content-wrap-centerd">
        <h1>PaymentTest</h1>

        <ul>
            <li>
                <a class="checkout-button-steps-button step" asp-action="CreditCard">CreditCard →</a>
            </li>
            <li>
                <a class="checkout-button-steps-button step" asp-action="PayPal">PayPal →</a>
            </li>
            <li>
                <a class="checkout-button-steps-button step" asp-action="IDeal">IDeal →</a>
            </li>
            <li>
                <a class="checkout-button-steps-button step" asp-action="Klarna">Klarna →</a>
            </li>
            <li>
                <a class="checkout-button-steps-button step" asp-action="Eps">EPS →</a>

            </li>
        </ul>
    </div>
</div>

