// ***********************************************************************
// Assembly         : DemoWebsite
// Author           : r.wienicke
// Created          : 07-31-2019
//
// Last Modified By : r.wienicke
// Last Modified On : 08-01-2019
// ***********************************************************************
// <copyright file="_Layout.cshtml" company="connexion e.solutions">
    //     Copyright (c) connexion e.solutions. All rights reserved.
    //
</copyright>
// <summary></summary>
// ***********************************************************************
@* Copyright (c) 2019 connexion OG / Roman Wienicke *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Header", required: false)
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">

    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
